<div class="grid w-screen pt-10">
  <img
    class="rounded-lg h-[400px] mx-auto mb-5"
    [src]="'/assets/shakespeare-' + style + '.png'"
    alt="image"
  />
  <button
    mat-raised-button
    class="w-[400px] mx-auto"
    color="primary"
    (click)="shakespeareQuoteService.fetchShakespeareQuote(style ?? 'normal')"
  >
    Generate Shakespeare Quote
  </button>

  
    <!-- Quote template -->
  <mat-card class="mt-5 min-w-[800px] mx-auto">
    <ng-container *ngIf="error() != null">
      <mat-card-header>
        <mat-card-title>Error!</mat-card-title>
        <mat-card-subtitle>{{ error().code }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ error().message }}</p>
      </mat-card-content>
    </ng-container>

    <!-- Quote template -->
    <ng-container *ngIf="!loading()">
        <quote-with-format [quote]="quote()" [style]="style ?? ''"></quote-with-format>
    </ng-container>

    <ng-container *ngIf="loading()">
      <mat-card-content class="m-auto">
        <mat-progress-spinner
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="50"
        ></mat-progress-spinner>
      </mat-card-content>
    </ng-container>
  </mat-card>
</div>
