<div class="grid w-screen pt-10">
  <img
    class="rounded-lg h-[400px] mx-auto mb-5"
    [src]="'/assets/shakespeare-' + style + '.png'"
    alt="image"
  />
  <button
    mat-raised-button
    class="w-[400px] mx-auto"
    color="primary"
    (click)="shakespeareQuoteService.fetchShakespeareQuote(style ?? 'normal')"
  >
    Generate Shakespeare Quote
  </button>

  <mat-card class="mt-5 min-w-[800px] mx-auto">
    <ng-container *ngIf="!loading()">
      <!-- Error -->
      <ng-container *ngIf="error() != null">
        <mat-card-header>
          <mat-card-title>Error!</mat-card-title>
          <mat-card-subtitle>{{ error().code }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ error().message }}</p>
        </mat-card-content>
      </ng-container>

      <!-- Quote -->
      <ng-container *ngIf="quote() as quote">
        <quote-no-format
          [quote]="quote"
          [style]="style ?? ''"
        ></quote-no-format>
      </ng-container>
    </ng-container>

    <!-- Loading -->
    <ng-container *ngIf="loading()">
      <mat-card-content class="m-auto">
        <mat-progress-spinner
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="50"
        ></mat-progress-spinner>
      </mat-card-content>
    </ng-container>
  </mat-card>
</div>
